In [1]:
import pandas as pd 
import csv
with open("PEP_2018_PEPANNRES_with_ann.csv", encoding = "utf8") as csvfile:
    csvreader=csv.reader(csvfile,delimiter=",")

In [2]:
population = "PEP_2018_PEPANNRES_with_ann.csv"
obesity="Obesity.csv"
obesity_df = pd.read_csv(obesity)

In [3]:
population_df = pd.read_csv(population, encoding="latin1")
pop2018=population_df[["GEO.display-label","respop72018"]]
pop2018.set_index("GEO.display-label", inplace=True)

In [6]:
select_cities=pop2018.loc[["Cincinnati city, Ohio","Las Vegas city, Nevada",
            "Houston city, Texas", "Miami city, Florida",
            "Denver city, Colorado","Chicago city, Illinois",
            "Phoenix city, Arizona", "Columbus city, Ohio",
            "Atlanta city, Georgia","Oklahoma City city, Oklahoma",
            "Cleveland city, Ohio","New York city, New York",
             "Albuquerque city, New Mexico","Greenville city, South Carolina",
             "Columbia city, South Carolina","Rapid City city, South Dakota",
            "Portland city, Oregon","St. Paul city, Minnesota","St. Louis city, Missouri",
            "Jacksonville city, Florida","Los Angeles city, California",
             "Minneapolis city, Minnesota","Dallas city, Texas",
            "Jackson city, Mississippi","Austin city, Texas"]]
select_cities.reset_index()

                  GEO.display-label respop72018
0             Cincinnati city, Ohio      302605
1            Las Vegas city, Nevada      644644
2               Houston city, Texas     2325502
3               Miami city, Florida      470914
4             Denver city, Colorado      716492
5            Chicago city, Illinois     2705994
6             Phoenix city, Arizona     1660272
7               Columbus city, Ohio      892533
8             Atlanta city, Georgia      498044
9      Oklahoma City city, Oklahoma      649021
10             Cleveland city, Ohio      383793
11          New York city, New York     8398748
12     Albuquerque city, New Mexico      560218
13  Greenville city, South Carolina       68563
14    Columbia city, South Carolina      133451
15    Rapid City city, South Dakota       75443
16            Portland city, Oregon      653115
17         St. Paul city, Minnesota      307695
18         St. Louis city, Missouri      302838
19       Jacksonville city, Florida      903889
20     Los Angeles city, California     3990456
21      Minneapolis city, Minnesota      425403
22               Dallas city, Texas     1345047
23        Jackson city, Mississippi      164422
24               Austin city, Texas      964254